@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header_top {
    height: 100px;
    width: 100%;
    background-color: #434343;
} 
.logo {
    width: 150px;
    color: #fff;
    text-align: center;
}
.header_logo {
    padding: 25px 0 0 70px;
}
.main_visual {
    position: relative;
}
#menu {
    top: 0;
    padding: 10px 0;
    position: absolute;
    display: block;
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
}
.menu_item {
	padding: 15px 20px;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;
    color: #fff;
}
.menu_item:hover {
    background-color: #fff;
    color: #000;
}
.main_img_box {
    position: relative;
    height: 300px;
    width: 100%;
}
.main_img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
main {
    display: flex;
}
.side {
    width: 20%;
    background-color: #C6C6C6;
}
.side_box {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-self: baseline;
}
.side_content {
    width: 90%;
    margin: 30px auto;
    background-color: #fff;
    border: #434343 1px solid;
}
.side_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: #434343 1px solid;
}
.side_content_title {
    margin-left: 10px;
}
.side_content_sub {
    text-align: right;
}
.side_content_sub {
    text-align: right;
}
.main_box {
    width: 80%;
}
.img_box {
    width: 80%;
    margin: 100px 5%;
    background-color: white;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 40% 30% 1fr;
}
.main_box_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.main_box_img:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
}
.main_box_img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/4;
    object-position: 100% 80%;
}
.main_box_img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
.main_box_img:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
.movie {
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 100px 5%;
  }
.movie iframe {
    width: 100%;
    height: 100%;
  }
.info {
    height: auto;
    width: 100%;
    display: flex;
    background-color: #7B7B7B;
    color: #fff;
    font-size: 20px;
}
.info_title {
    width: 30%;
    margin: auto 0;
    text-align: center;
}
.h_line {
    border: solid 1px #fff;
    margin: 0 40%;
}
.info_list {
    width: 60%;
    margin: auto 5%;
}
.info_list ul {
    margin: 40px 0;
}
.info_list_item {
    list-style-type: none;
    margin: 20px auto;
}
.v_line {
    border:solid 1px #fff;
    margin: 25px 0;
}
.pr_box {
    width: 90%;
    margin: 100px auto;
    display: flex;
}
.pr_img {
    width: 90%;
    height: 350px;
    margin: 0 5%;
    object-fit: cover;
}
.img_bottom_position {
    object-position: bottom; /* 空の写真 */
}
.pr_box_img {
    width: 50%;
}
.pr_box_text {
    width: 50%;
}
.pr_box_title {
    padding: 10px 10px;
    position: relative;
    background-color: #b0824a;
    color: #fff;
    font-size: 18px;
}
.pr_box_title:after {
    content: "";
    position:absolute;
    top:0;
    right:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 18px 19px 0;
}
.pr_box_body {
    margin: 20px 0;
}
.pr_box_btn_box {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.brown-btn {
    border: none;
    box-shadow: 3px 3px 5px gray;
    position: relative;
    background-color: #A29453;
    color: #fff;
    font-size: 18px;
    padding: 8px 25px;
}
.brown-btn:hover {
    background: rgba(162,148,83,0.6);
}
.pr_box_btn {
    margin: 0 20px;
}
.modal_icon:after {
    content: url(../img/modal.png);
    position: absolute;
    right: 20px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal_bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal_content{
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.modal_img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
}
.modal-close-btn {
    position: absolute;
    color: white;
    top: 3%;
    right: 3%;
}
.article {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #7B7B7B;
}
.article_box {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.article_content {
    width: 30%;
    background-color: #fff;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.article_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.btn {
    background-color:#EB68A0;
    margin: 20px auto;
    color: white;
    font-size: 18px;
    border-radius: 50px 50px 50px 50px;
    border: solid 3px white;
    box-shadow: -3px -3px 3px black inset;
}
.btn:hover {
    background: rgba(235,104,160,0.6);
}
.article_btn {
    padding: 15px 150px;
}
.pr_img_order {
    order: 2;
}
.pr_text_order {
    order: 1;
    font-size: large;
}
.wide_btn {
    width: 100%;
}
.product {
    width: 100%;
    text-align: center;
    padding: 50px 5%;
    display: flex;
    justify-content: center;
    background-color: #7B7B7B;
}
.product_box {
    width: 40%;
    margin-bottom: 50px;
}
.product_box:nth-child(1) {
    margin-right: 10%;
}
.product_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.product_box_title {
    font-size: 24px;
    color: #fff;
    text-align: left;
}
.product_btn {
    margin-top: 30px;
    padding: 7px 70px;
    font-size: 26px;
}
.pr_box_vertical_btn_box {
    display: block;
}
.v_btn {
    margin: 7px auto;
}
.link_icon:after {
    content: url(../img/link.png);
    position: absolute;
    right: 20px;
    top: 30%;
}
footer {
    width: 100%;
    color: white;
    background-color: #434343;
}
.footer_logo {
    margin: 0 auto;
    padding-top: 30px;
}
.footer_text {
    padding: 70px 0 40px 70px;
}
.shop_name {
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px){   
    .header_logo {
        margin: 0 auto;
        padding: 25px 0 0 0;
    }
    #sp_menu_open {        
        position: absolute;
        top: 10px;
        right: 5px;
        width: 50px;
    }
    #sp_menu_close {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 50px;
        display: none;
    }
    #menu {
        display: none;
        text-align: center;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index:3!important; /* スライドショーの前面に表示 */
    }
    #menu li {
        margin: 50px 0;
    }
    .menu_item {
        font-size: 2em;
    }
    .side {
        display: none;
    }
    .main_box {
        width: 100%;
    }
    .movie, .img_box {
        margin: 5% auto;
    }
    /* スライダー */
    .slider{
        margin: 50px auto;
        width: 100%;
        height: 200px;
    }
    .slider-img{
        height: 200px;
        width: 100%;
    }
    .slick-slide {
        transition: .3s ease;
      }
    .slick-slide:not(.slick-current) {
        opacity: .5;
    }
    /* デフォルト矢印を非表示 */
    .slick-arrow{
        z-index:2!important;
    }
    .slick-arrow:before{
        content:""!important;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
     }
     /* カスタム矢印を表示 */
    .slider-arrow {
        font-size: 36px;
        color: #fff;
    }
    .slick-next{
        right:10px!important;
    }
    .slick-prev{
        left:10px!important;
    }
    /* スライダーここまで */
    .info {
        display: block;
        padding: 20px 0;
        height: auto;
    }
    .info_title {
        margin: 0 auto;
        font-size: 1rem;
    }
    .v_line {
        margin: 15px 100px;
    }
    .info_list {
        margin-left: 10%;
        width: 90%;
        font-size: 1.2rem;
    }
    .pr_box {
        display: block;
        margin: 50px auto;
    }
    .pr_box_text {
        margin-bottom: 100px;
        width: 100%;
    }
    .pr_box_img {
        width: 100%;
    }
    .sp_pr_content {
        display: flex;
        margin: 20px auto;
    }
    .sp_pr_box_body {
        width: 50%;
    }
    .sp_pr_box_btn_box {
        width: 50%;
        display: block;
        margin: auto 0;
        text-align: center;
    }
    .sp_pr_box_btn {
        margin: 10px auto;
    }
    .pr_box_btn {
        width: 50%;
        margin: 0 10px;
    }
    .brown-btn {
        padding: 8px 10px;
        font-size: 1.0rem;
    }
    .pr_img {
        width: 100%;
        height: 300px;
        margin: 30px 0;
    }
    .article_box {
        display: block;
        padding: 0 30px;
        font-size: 1.4em;
    }
    .article_content {
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
    .article_img {
        height: auto;
    }
    .article_btn {
        display: none;
    }
    .article_sp_btn {
        width: 100%;
        padding: 10px 0;
        font-size: 0.8em;
    }
    .article_content {
        margin-top: 50px;
    }
    .product {
        display: block;
        width: 100%;
    }
    .product_box {
        width: 100%;
    }
    .product_box_title {
        font-size: 1.6rem;
    }
    .product_img {
        height: auto;
    }
    .product_btn {
        width: 100%;
        font-size: 1.1rem;
    }
    .footer_logo {
        margin: 0;
    }
    .footer_text {
        padding-left: 30px;
    }
}
@media only screen and (min-width: 601px){
    .sp_only, .article_sp_btn {
        display: none;
    }
    #sp_menu_open, #sp_menu_close {
        display: none;
    }
}   