@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header_top {
    height: 70px;
    background-color: aqua;
    width: 100%;
} 
.logo {
    width: 70px;
    background-color: thistle;
    color: blanchedalmond;
    text-align: center;
}
.header_logo {
    margin-left: 30px;
}
.main_visual {
    position: relative;
}
#menu {
    top: 0;
    position: absolute;
    opacity: 0.5;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu_item {
	padding: 5px 10px;
    margin: 0 15px;
    text-decoration: underline;
    color: white;
}
.main_img_box {
    position: relative;
    height: 300px;
    width: 100%;
}
.main_img {
    height: 300px;
    width: 100%;
    position: absolute;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
main {
    display: flex;
}
.side {
    width: 20%;
    background-color: blueviolet;
}
.side_box {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-self: baseline;
}
.side_content {
    width: 90%;
    margin: 15px auto;
    background-color: wheat;
}
.side_img {
    width: 100%;
    height: 100px;
}
.side_content_sub {
    text-align: right;
}
.main_box {
    width: 80%;
    background-color: teal;
}
.img_box {
    width: 80%;
    margin: 5%;
    background-color: white;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 40% 30% 1fr;
}
.main_box_img {
    width: 100%;
    height: 100%;
}
.main_box_img:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
}
.main_box_img:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/4;
}
.main_box_img:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}
.main_box_img:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/4;
}
.movie {
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 5%;
  }
.movie iframe {
    width: 100%;
    height: 100%;
  }
.info {
    height: 200px;
    width: 100%;
    background-color: gray;
    display: flex;
}
.info_title {
    width: 30%;
    margin: auto 0;
    text-align: center;
    background-color: hotpink;
}
.h_line {
    border: solid 1px black;
    margin: 0 40px;
}
.info_list {
    width: 70%;
    margin: auto 20px;
    background-color: cornflowerblue;
}
.info_list_item {
    list-style-type: none;
    margin: 5px 0;
}
.v_line {
    border:solid 1px black;
    margin: 15px 0;
}
.pr_box {
    width: 90%;
    margin: 50px auto;
    background-color: cyan;
    display: flex;
}
.pr_img {
    width: 80%;
    margin-left: 10%;
}
.pr_box_img {
    width: 50%;
}
.pr_box_text {
    width: 50%;
    background-color: darkgoldenrod;
}
.pr_box_title {
    background-color: darksalmon;
    padding: 10px 0;
    position: relative;
}
.pr_box_title:after {
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 18px 19px 0;
}
.pr_box_body {
    margin: 20px 0;
    background-color: darkseagreen;
}
.pr_box_bt_box {
    text-align: center;
    background-color: darkslateblue;
}
.pr_box_bt {
    background-color: dimgray;
    box-shadow: -2px -2px 3px black inset;
    position: relative;
}
.modal_icon:after {
    content: url(../img/modal.png);
    position: absolute;
    right: 20px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal_bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal_content{
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.modal-close-btn {
    position: absolute;
    color: white;
    top: 3%;
    right: 3%;
}
.btn_margin {
    margin: 0 10px;
}
.article {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    padding: 30px 0;
}
.article_box {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 5% 30px;
}
.article_content {
    width: 30%;
    background-color: ghostwhite;
}
.article_img {
    width: 100%;
    height: 150px;
}
.btn {
    background-color: hotpink;
    margin: 0 auto;
    color: white;
    border-radius: 50px 50px 50px 50px;
    border: solid 3px white;
    box-shadow: -2px -2px 3px black inset;
}
.article_btn {
    padding: 10px 40px;
}
.pr_img_order {
    order: 2;
}
.pr_text_order {
    order: 1;
    font-size: large;
}
.wide_btn {
    width: 100%;
}
.v_btn {
    margin-bottom: 5px;
}
.product {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    padding: 50px 5%;
    display: flex;
    justify-content: center;
}
.product_box {
    width: 30%;
    background-color: ghostwhite;
    margin-bottom: 50px;
}
.product_box:nth-child(1) {
    margin-right: 10%;
}
.product_img {
    width: 100%;
    height: 150px;
}
.product_btn {
    margin-top: 5px;
    padding: 5px 40px;
}
.link_icon:after {
    content: url(../img/link.png);
    position: absolute;
    right: 20px;
}
footer {
    background-color: blue;
    width: 100%;
    color: white;
}
.footer_logo {
    margin: 0 auto;
}
.footer_text {
    padding: 70px 0 20px 30px;
}
@media only screen and (max-width: 600px){   
    .header_logo {
        margin: 0 auto;
    }
    #sp_menu_open {
        position: fixed;
        top: 10px;
        right: 5px;
        width: 50px;
    }
    #sp_menu_close {
        position: fixed;
        top: 10px;
        right: 5px;
        width: 50px;
        display: none;
    }
    /*  後で検証 
    #show {
        opacity: 1;
    }
    #hide {
        opacity: 0;
    } */
    #menu {
        display: none;
        text-align: center;
        font-size: 1.8em;
        background-color: black;
        height: 100vh;
        z-index:3!important; /* スライドショーの前面に表示 */
    }
    .menu_item {
        margin: 50px 0;
    }
    .side {
        display: none;
    }
    .main_box {
        width: 100%;
    }
    .movie, .img_box {
        margin: 5% auto;
    }
    /* スライダー */
    .slider{
        margin: 0 0 50px;
        width: 100%;
        height: 200px;
    }
    .slider-img{
        height: 200px;
        width: 100%;
    }
    .slick-slide {
        transition: .3s ease;
      }
    .slick-slide:not(.slick-current) {
        opacity: .5;
    }
    /* デフォルト矢印を非表示 */
    .slick-arrow{
        z-index:2!important;
    }
    .slick-arrow:before{
        content:""!important;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
     }
     /* カスタム矢印を表示 */
    .slider-arrow {
        font-size: 36px;
        color: #fff;
    }
    .slick-next{
        right:10px!important;
    }
    .slick-prev{
        left:10px!important;
    }
    /* スライダーここまで */
    .info {
        display: block;
        padding: 20px 0;
        height: auto;
    }
    .info_title {
        margin: 0 auto;
    }
    .v_line {
        margin: 15px 100px;
    }
    .info_list {
        margin: 0 auto;
    }
    .pr_box {
        display: block;
    }
    .pr_box_img, .pr_box_text {
        width: 100%;
    }
    .article_box {
        display: block;
    }
    .article_content {
        width: 100%;
    }
    .article_img {
        height: auto;
    }
    .article_btn {
        display: none;
    }
    .article_sp_btn {
        width: 100%;
    }
    .article_content {
        margin-top: 50px;
    }
    .product {
        display: block;
        width: 100%;
    }
    .product_box {
        width: 100%;
    }
    .product_img {
        height: auto;
    }
    .footer_logo {
        margin-left: 10px;
    }
}
@media only screen and (min-width: 601px){
    .sp_only, .article_sp_btn {
        display: none;
    }
    #sp_menu_open, #sp_menu_close {
        display: none;
    }
}   