@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header_top {
    height: 70px;
    background-color: aqua;
    width: 100%;
} 
.logo {
    width: 70px;
    background-color: thistle;
    color: blanchedalmond;
    text-align: center;
}
.header_logo {
    margin-left: 30px;
}
.main_visual {
    position: relative;
}
.menu {
    top: 0;
    position: absolute;
    opacity: 0.5;
    height: 40px;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu_item {
	padding: 5px 10px;
    margin: 0 15px;
    text-decoration: underline;
    color: white;
}
.main_img {
    height: 300px;
    width: 100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
main {
    display: flex;
}
.side {
    width: 20%;
    background-color: blueviolet;
}
.side_box {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-self: baseline;
}
.side_content {
    width: 90%;
    margin: 15px auto;
    background-color: wheat;
}
.side_img {
    width: 100%;
    height: 100px;
}
.side_content_sub {
    text-align: right;
}
.main_box {
    width: 80%;
    background-color: teal;
}
.img_box {
    width: 80%;
    max-width: 800px;
    margin: 5%;
    height: 150px;
    background-color: violet;
    display: flex;
}
.img_box_left {
    width: 40%;
    height: 100%;
}
.img_box_right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img_1 {
    width: 100%;
    height: 100%;
}
.img_2 {
    width: 100%;
    height: 50%;
}
.img_3, .img_4 {
    width: 50%;
    height: 50%;
}
.movie {
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 5%;
  }
.movie iframe {
    width: 100%;
    height: 100%;
  }
.info {
    height: 200px;
    width: 100%;
    background-color: gray;
    display: flex;
}
.info_title {
    width: 30%;
    margin: auto 0;
    text-align: center;
    background-color: hotpink;
}
.h_line {
    border: solid 1px black;
    margin: 0 40px;
}
.info_list {
    width: 70%;
    margin: auto 20px;
    background-color: cornflowerblue;
}
.info_list_item {
    list-style-type: none;
    margin: 5px 0;
}
.v_line {
    border:solid 1px black;
    margin: 15px 0;
}
.pr_box {
    width: 90%;
    margin: 50px auto;
    background-color: cyan;
    display: flex;
}
.pr_img {
    width: 80%;
    margin-left: 10%;
}
.pr_box_img {
    width: 50%;
}
.pr_box_text {
    width: 50%;
    background-color: darkgoldenrod;
}
.pr_box_title {
    background-color: darksalmon;
    padding: 10px 0;
    position: relative;
}
.pr_box_title:after {
    content: "";
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    border-width: 25px 18px 19px 0;
}
.pr_box_body {
    margin: 20px 0;
    background-color: darkseagreen;
}
.pr_box_bt_box {
    text-align: center;
    background-color: darkslateblue;
}
.pr_box_bt {
    background-color: dimgray;
    box-shadow: -2px -2px 3px black inset;
    position: relative;
}
.modal_icon:after {
    content: url(../img/modal.png);
    position: absolute;
    right: 20px;
}
.btn_margin {
    margin: 0 10px;
}
.article {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    padding: 30px 0;
}
.article_box {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 0 5% 30px;
}
.article_content {
    width: 30%;
    background-color: ghostwhite;
}
.article_img {
    width: 100%;
    height: 150px;
}
.article_content_title {
}
.btn {
    background-color: hotpink;
    margin: 0 auto;
    color: white;
    border-radius: 50px 50px 50px 50px;
    border: solid 3px white;
    box-shadow: -2px -2px 3px black inset;
}
.article_btn {
    padding: 10px 40px;
}
.pr_img_order {
    order: 2;
}
.pr_text_order {
    order: 1;
    font-size: large;
}
.wide_btn {
    width: 100%;
}
.v_btn {
    margin-bottom: 5px;
}
.product {
    width: 100%;
    background-color: forestgreen;
    text-align: center;
    padding: 50px 5%;
    display: flex;
    justify-content: center;
}
.product_box {
    width: 30%;
    background-color: ghostwhite;
    margin-bottom: 50px;
}
.product_box:nth-child(1) {
    margin-right: 10%;
}
.product_img {
    width: 100%;
    height: 150px;
}
.product_btn {
    margin-top: 5px;
    padding: 5px 40px;
}
.link_icon:after {
    content: url(../img/link.png);
    position: absolute;
    right: 20px;
}
footer {
    background-color: blue;
    width: 100%;
    color: white;
}
.footer_logo {
    margin: 0 auto;
}
.footer_text {
    padding: 70px 0 20px 30px;
}
@media only screen and (max-width: 600px){   
    .header_logo {
        margin: 0 auto;
    }
    .side {
        display: none;
    }
    .main_box {
        width: 100%;
    }
    .movie {
        margin: 0 auto;
    }
    .info {
        display: block;
        padding: 20px 0;
        height: auto;
    }
    .info_title {
        margin: 0 auto;
    }
    .v_line {
        margin: 15px 100px;
    }
    .info_list {
        margin: 0 auto;
    }
    .pr_box {
        display: block;
    }
    .pr_box_img, .pr_box_text {
        width: 100%;
    }
    .article_box {
        display: block;
    }
    .article_content {
        width: 100%;
    }
    .article_img {
        height: auto;
    }
    .article_btn {
        display: none;
    }
    .article_sp_btn {
        width: 100%;
    }
    .article_content {
        margin-top: 50px;
    }

    .product {
        display: block;
        width: 100%;
    }
    .product_box {
        width: 100%;
    }
    .product_img {
        height: auto;
    }
    .footer_logo {
        margin-left: 10px;
    }
}
@media only screen and (min-width: 601px){
    .article_sp_btn {
        display: none;
    }
}   